<a href="https://colab.research.google.com/github/jzhu137/BTE302/blob/main/in_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cylinder Area:

In [ ]:
R = float(input("Enter the radius:"))
H = float(input("Enter the height: "))
SA = 2*3.14*R**2 + 2*3.14*R*H
print(f'Surface Area: {SA} sq.ft')

Enter the radius:5
Enter the height: 6
Surface Area: 345.4 sq.ft

Calculator:

In [ ]:
x1 = float(input('Please enter a number: '))
symbol = input('Please enter a symbol: ')
x3 = float(input('Please enter another number: '))

if symbol == '+':
  print(x1 + x3)
elif symbol == '-':
  print(x1 - x3)
elif symbol == '%':
  print(x1%x3)
elif symbol == '/':
  print(x1/x3)
elif symbol == '//':
  print(x1//x3)
elif symbol == '**':
  print(x1**x3)
elif symbol == '*':
  print(x1*x3)
else:
  print('N/A')

total = (x1, symbol, x3)
print(f'Total value: {total}')

Please enter a number: 6
Please enter a symbol: O
Please enter another number: 9
N/A
Total value: (6.0, 'O', 9.0)

Parking Garage:

In [ ]:
for numberHours in range (1,9):
  fee = 5 + 2.5*numberHours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20
  print(f'Hour {numberHours} fee: ${fee}')

Hour 1 fee: $10
Hour 2 fee: $10.0
Hour 3 fee: $12.5
Hour 4 fee: $15.0
Hour 5 fee: $17.5
Hour 6 fee: $20.0
Hour 7 fee: $20
Hour 8 fee: $20

Movie Theater

In [ ]:
for adMoney in range(0,201,25):
  p = round(2*(adMoney**0.5))
  print(adMoney, (p*10+200)-200- adMoney)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
for adMoney in range(0,201,25):
  revenue = ( 20 + 2*round(adMoney**0.5))*10
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80