<a href="https://colab.research.google.com/github/jzhu137/BTE302/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.1415926
height= int(input("Please height length: "))
radius= int(input("Please radius length: "))
area=2*pi*radius**2+2*pi*radius*height
print(f'The area of cylinder is: {area} sq. ft')

In [ ]:
x=float(input('Please enter a number: '))
symbol=input('Please enter a symbol: ')
y=float(input('Please enter another number: '))
if symbol=='+':
  print(x+y)
elif symbol=='-':
  print(x-y)
elif symbol=='*':
  print(x*y)
elif symbol=='/':
  print(x/y)
elif symbol=='//':
  print(x//y)
elif symbol=='**':
  print(x**y)
elif symbol=='%':
  print(x%y)
else:
  print('N/A')

total=(x,symbol,y)
print('Total Value:',total)

Please enter a number: 5
Please enter a symbol: *
Please enter another number: 6
30.0
Total Value: (5.0, '*', 6.0)

In [ ]:


for numberHours in range(1,9):
  fee=5+2.5*numberHours
  if fee<10:
    fee=10.0
  elif fee>20:
    fee=20.0
  print(numberHours,fee)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for adMoney in range(0,201,25):
  revenue=(20+2*round(adMoney**.5))*10
  costs=200+adMoney
  profit=revenue-costs
  print(adMoney,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
import random

while True:
  yn=input("Would you like to play: y/n: ")
  if yn=="y":
    play=input("Enter your move: ")
    computer=random.choice(["rock","paper","scissors"])
    print('Player chose:',play,'Computer chose:',computer)
    if play==computer:
      print("It's a tie! You both picked ",play)
    elif play=="rock" and computer=="scissors" or play=="paper" and computer=="rock" or play=="scissors" and computer=="paper":
      print("You win!",play,"Beats",computer)
    else:
      print(computer,"beats",play,"YOU LOSE :(")
      continue
  else:
    print("Thanks for playing!")
    break

In [ ]:
lst=[]
num=float(input("Give a number: "))
while num != 0.0:
  lst.append(num)
  num=float(input("Give a number: "))
lst.sort(reverse=True)
print(lst)

Give a number: 6
Give a number: 7.8
Give a number: 0
[7.8, 6.0]

In [ ]:
L1=[1,2,3,4]
L2=[1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

L1

[3, 4]

Months

In [26]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for x in range(len(names)):
  months[names[x]] = numbers[x]

print(months)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'Jun': 5, 'Jul': 6, 'Aug': 7, 'Sep': 8, 'Oct': 9, 'Nov': 10, 'Dec': 11}